@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&display=swap");


:root {
  background-image: url('./assets/pattern.svg');
  background-position: 0px 0px;
  background-size: 6px;
}